---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Alex's Portfolio.">
	<!-- my portfolio -->
	<NavBar />
	<main>
		<h1 class="text-4xl text-center py-5">My Portfolio</h1>
		<p></p>
	</main>
</Layout>
